{% extends "base.html" %}

{% block title %}Welcome{% endblock title %}

{% block content %}

    {% if user %}
        <h1>Welcome to Ninja Tech Forum, {{user.username}}!</h1>

        {% if user.verified == false %}
            <hr>
            <h3>Thank you for signing up to the Smart Ninja Forum</h3>
            <p>An automatic verification email has been sent to your email address. Please confirm it to finish the registration process.<br>
                <i>Please note: if the email cannot be seen in your inbox, check your spam folder.</i>
            </p>
            <hr>
        {% endif %}

        <table border="1">
            <tr>
                <th>Topic</th>
                <th>Author</th>
                <th>Date created</th>
            </tr>

            {% for topic in topics %}
            <tr>
                <td><a href="/topic/{{topic.id}}">{{ topic.title }}</a></td>
                <td>{{ topic.author.username }}</td>
                <td>{{ topic.created }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>Welcome to Ninja Tech Forum, stranger!</h1>
    {% endif %}



{% endblock content %}